@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
    --darkBlack:#111111;
    --creamWhite:#D0D0D0;
}

@theme {
    --color-primary:#5E0AFF;
    --color-neonblue:#00BBFF;
    --color-secondary:#111111;
    --color-body-1:#DBFCFF;
    --color-body-2:#D9D9D9;
    --color-body-3:#D0D0D0;
    --color-body-4:#93C5FD;
    --font-inter:"Inter", sans-serif;
    --font-poppins:"Poppins", sans-serif;
    --font-montserrat:"Montserrat", sans-serif;
}

html{
    @apply font-poppins;
    @apply text-[var(--creamWhite)];
    @apply bg-[var(--darkBlack)];
}


.text-shadow-glow {
    text-decoration: none;
    margin: 0 5px;
    position: relative;
    display: inline-block;
    transition: all 0.5s;
  }
  
  .text-shadow-glow:hover {
    color: #ffffff;
    scale: 1.2;
    text-shadow: 0 0 10px #5E0AFF, 0 0 20px #5E0AFF, 0 0 30px #5E0AFF, 0 0 40px #5E0AFF;
  }

  .shadow-amber {
    box-shadow: 0 4px 30px rgba(147, 0, 245, 0.5);
  }
  